.main {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 50px;
  flex-wrap: wrap;
}
.title {
  display: flex;
  background-color: rgb(172, 170, 168);
  border-radius: 20px;
  width: 20%;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 10px auto;
}
.red {
  color: rgb(172, 0, 0);
}
.submain {
  text-align: center;
}
